{{!< layout}}

{{#contentFor 'content'}}
<h1>No tenemos la página solicitada</h1>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{url}} no es una dirección válida.
</div>
{{/contentFor}}
