<section>
  <div class="page-header">
    <h1>Equipos</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="equipo in vm.equipos" ui-sref="equipos.view({ equipoId: equipo._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="equipo.created | date:'mediumDate'"></span>
        by
        <span ng-if="equipo.user" ng-bind="equipo.user.displayName"></span>
        <span ng-if="!equipo.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="equipo.title"></h4>
      <p class="list-group-item-text" ng-bind="equipo.content"></p>
    </a>
  </div>
</section>
