<section>
  <div class="page-header">
    <h1 ng-bind="vm.equipo.title"></h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.equipo.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.equipo.user" ng-bind="vm.equipo.user.displayName"></span>
      <span ng-if="!vm.equipo.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.equipo.content"></p>
</section>
