<section>
    <div class="page-header">
        <h1>Jugadores</h1>
    </div>
    <div class="list-group">
        <a ng-repeat="jugador in vm.jugadores" ui-sref="jugadores.view({ jugadorId: jugador._id })" class="list-group-item">
            <small class="list-group-item-text">
                Creado el
                <span ng-bind="jugador.created | date:'mediumDate'"></span>
                por
                <span ng-if="jugador.user" ng-bind="jugador.user.displayName"></span>
                <span ng-if="!jugador.user">Usuario Eliminado</span>
            </small>
            <h4 class="list-group-item-heading" ng-bind="(jugador.nombre) + ' ' + (jugador.apellidos)"></h4>
            <p class="list-group-item-text" ng-bind="jugador.content"></p>
        </a>
    </div>
</section>