<section>
  <div class="page-header">
    <h1>Jugadores</h1>
  </div>

    <div class="row" style="padding-bottom: 5px;">
        <div class="col-md-3 col-offset-3">
        <label class="control-label" for="direccion">Categoría:</label>
        <select name="categoria" type="text" ng-model="vm.cat"
          id="categoria" class="form-control" placeholder="Categoria"
          autofocus>
          <option ng-repeat="cat in vm.categorias" ng-value="cat.nombre">{{cat.nombre}}</option>
        </select> 
      </div>
    </div>

  <div class="list-group">
      <div ng-repeat="jugador in vm.jugadores">
          <a ng-if="jugador.categoria === vm.cat" ui-sref="jugadores.view({ jugadorId: jugador._id })" class="list-group-item">
      <small class="list-group-item-text">
        Creado el
        <span ng-bind="jugador.created | date:'mediumDate'"></span>
        por
        <span ng-if="jugador.user" ng-bind="jugador.user.displayName"></span>
        <span ng-if="!jugador.user">Usuario Eliminado</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="(jugador.nombre) + ' ' + (jugador.apellidos)"></h4>
      <p class="list-group-item-text" ng-bind="jugador.content"></p>
    </a>
  </div>
</div>
</section>
