<section>
  <div class="page-header">
    <h1>Pago de Mensualidad</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-offset-3">
        <label class="control-label" for="direccion">Categoría:</label>
        <select name="categoria" type="text" ng-model="vm.cat"
          id="categoria" class="form-control" placeholder="Categoria"
          autofocus>
          <option ng-repeat="cat in vm.categorias" ng-value="cat.nombre">{{cat.nombre}}</option>
        </select> 
      </div>

      <div class="col-md-3 col-offset-3">
        <div class="form-group" >
          <label class="control-label" for="direccion">Fecha de Pago:</label>
          <div  role="alert">
            <input name="fechaNacimiento" type="date" ng-model="vm.mesCobro " id="mesCobro" class="form-control"
              placeholder="Fecha Nacimiento"  ng-change="vm.actualizarLista()" >
          </div>
        </div>
      </div>

      <div>
      
       <button class="btn btn-primary" ng-click="vm.descargarExcel()" >Descargar Excel</button>

      </div>

    </div>
  </div>

  <div class="col-sm-10">
    <div class="box box-primary">
      <div ng-repeat="pago in vm.pagos">
      <a ng-if="pago.jugador.categoria === vm.cat" class="list-group-item">
        <div  class="container-fluid">
          <div class="row">
            <div class="col-sm-1 cen">
              <i ng-if="pago.estado == 'Cancelado'" class="fas fa-check-square"
                style="padding-top:13px; color:green; font-size: 18px;"></i>
              <i ng-if="pago.estado == 'Pendiente'" class="fas fa-ban"
                style="padding-top:13px; color:red; font-size: 18px;"></i>
              <i ng-if="pago.estado == 'Parcial'" class="fas fa-minus-square"
                style="padding-top:13px; color:orange; font-size: 18px;"></i>
            </div>
            <div class="col-sm-8">
              <h4 ng-bind="(pago.jugador.nombre) + ' ' + (pago.jugador.apellidos) "></h4>
            </div>
            <div class="col-sm-3">
              <div class="row">
                <button class="btn fas fa-check-square" style="background-color:
                  transparent; color:green;font-size: 24px;"
                  ng-click="pago.porConfirmar=!pago.porConfirmar"> </button>
                <button class="btn fas fa-minus-square" style="background-color:
                  transparent; color:orange;font-size: 24px;"
                  ng-click="pago.parcial= !pago.parcial; pago.porConfirmar=
                  !pago.porConfirmar;"> </button>
                <button ng-if="pago.porConfirmar" class="btn fas fa-arrow-right"
                  style="background-color:
                  transparent; color:blue;font-size: 24px;"
                  ng-click="vm.pagar(pago)"> </button>
                <input type="number" ng-if="pago.parcial" ng-model="pago.monto">
              </div>
            </div>
          </div>
        </div>
        
      </a>
    </div>
    </div>
  </div>
</section>