<section>
  <div class="page-header">
    <h1> Detalle del Jugador</h1>
  </div>
  <small>
    <em class="text-muted">
      Creado el
      <span ng-bind="vm.jugador.created | date:'mediumDate'">{{vm.jugador.created}}</span>
      por
      <span ng-if="vm.jugador.user" ng-bind="vm.jugador.user.displayName"></span>
      <span ng-if="!vm.jugador.user">Usuario Eliminado</span>
    </em>
  </small>

  <section class='col-md-6  connectedSortable ui-sortable'>
    <div class='nav-tabs-custom' style="cursor:move;">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#Personal">Personal</a>
        </li>
        <li>
          <a data-toggle="tab" href="#Deportiva">Deportiva</a>
        </li>
        <li>
          <a data-toggle="tab" href="#Administrativa">Administrativa</a>
        </li>
        <li>
          <a data-toggle="tab" href="#Familiar">Familiar</a>
        </li>
      </ul>
      <!-- Tab content -->
      <div class=" tab-content ">
        <div id="Personal" class="tab-pane fade in active">
          <div class="box-body">

            <label class="control-label" for="nombre">Nombre del Jugador:</label>
            <input name="nombre" type="text" ng-model="vm.jugador.nombre" id="nombre" class="form-control" placeholder="Nombre" disabled></input>

            <label class="control-label" for="apellidos">Apellidos del Jugador:</label>
            <input name="apellidos" type="text" ng-model="vm.jugador.apellidos" id="apellidos" class="form-control" placeholder="Apellidos"
              autofocus disabled></input>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Categoría:</label>
              <input name="categoria" type="text" ng-model="vm.jugador.categoria" id="categoria" class="form-control" placeholder="Categoria"
                autofocus disabled></input>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Fecha de Nacimiento del Jugador:</label>
              <div ng-messages="vm.form.jugadorForm.categoria.$error" role="alert">
                <input name="fechaNacimiento" type="date" ng-model="vm.jugador.fechaNacimiento" id="fechaNacimiento" class="form-control"
                  placeholder="Fecha Nacimiento" disabled></input>
                <div ng-messages="vm.form.jugadorForm.fechaNacimiento.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Escriba la Fecha de Nacimiento del jugador.</p>
                </div>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Dirección del Jugador:</label>
              <input name="direccion" type="text" ng-model="vm.jugador.direccion" id="direccion" class="form-control" placeholder="Direccion"
                autofocus disabled>
              <div ng-messages="vm.form.jugadorForm.apellidos.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba la dirección del jugador.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="nacionalidad">Nacionalidad del Jugador:</label>
              <select name="nacionalidad" type="text" ng-model="vm.jugador.nacionalidad" id="nacionalidad" class="form-control" placeholder="Nacionalidad"
                autofocus disabled>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="Otro">Otro</option>
              </select>
              <div ng-messages="vm.form.jugadorForm.nacionalidad.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba la nacionalidad del jugador.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="telefono">Teléfono del Jugador:</label>
              <input name="telefono" type="number" ng-model="vm.jugador.telefono" id="telefono" class="form-control" placeholder="Teléfono"
                disabled>
              <div ng-messages="vm.form.jugadorForm.telefono.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba la teléfono del jugador.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Email del Jugador:</label>
              <input name="email" type="text" ng-model="vm.jugador.email" id="email" class="form-control" placeholder="Correo Electrónico"
                autofocus disabled>
              <div ng-messages="vm.form.jugadorForm.telefono.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba la email del jugador.</p>
              </div>
            </div>
          </div>
        </div>
        <div id="Deportiva" class="tab-pane fade">
          <div class="box-body">
            <div class="form-group" show-errors>
              <label for="numeroCamiseta">Número de Camiseta del Jugador:</label>
              <input name="numeroCamiseta" type="text" ng-model="vm.jugador.numeroCamiseta" id="numeroCamiseta" class="form-control" placeholder="Número de Camiseta"
                autofocus disabled>
              <div ng-messages="vm.form.jugadorForm.numeroCamiseta.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba el número de camiseta del Jugador.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="perfil">Perfil del Jugador:</label>
              <select name="perfil" type="text" ng-model="vm.jugador.perfil" id="perfil" class="form-control" placeholder="Perfil del Jugador"
                autofocus disabled>
                <option value="Derecho">Derecho</option>
                <option value="Izquierdo">Izquierdo</option>
                <option value="Ambidiestro">Ambidiestro</option>
              </select>
              <div ng-messages="vm.form.jugadorForm.perfil.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba el perfil del Jugador.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="posicionJugador">Posición del Jugador:</label>
              <select name="posicionJugador" type="text" ng-model="vm.jugador.posicionJugador" id="posicionJugador" class="form-control"
                placeholder="Posición del Jugador" autofocus disabled>
                <option value="Defensa">Defensa</option>
                <option value="Delantero">Delantero</option>
                <option value="Mediocampista">Mediocampista</option>
              </select>
              <div ng-messages="vm.form.jugadorForm.posicionJugador.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba la posición del Jugador.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="peso">Peso del Jugador:</label>
              <input name="peso" type="number" ng-model="vm.jugador.peso" id="peso" class="form-control" placeholder="Peso del Jugador"
                disabled>
              <div ng-messages="vm.form.jugadorForm.peso.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba el peso del Jugador.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="altura">Altura del Jugador:</label>
              <input name="altura" type="number" ng-model="vm.jugador.altura" id="altura" class="form-control" placeholder="Altura del Jugador"
                disabled>
              <div ng-messages="vm.form.jugadorForm.altura.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba la posición del Jugador.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="Administrativa" class="tab-pane fade">
          <div class="box-body">
            <div class="form-group" show-errors>
              <label for="idInterno">ID Interno:</label>
              <input name="idInterno" type="number" ng-model="vm.jugador.ID" id="idInterno" class="form-control" placeholder="ID Interno"
                disabled>
              <div ng-messages="vm.form.jugadorForm.ID.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Número Interno.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="peso">Dirección del Jugador:</label>
              <input name="direccion" type="text" ng-model="vm.jugador.direccion" id="direccion" class="form-control" placeholder="Dirección de habitación"
                autofocus disabled>
              <div ng-messages="vm.form.jugadorForm.direccion.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba la dirección de habitación del Jugador.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Fecha de Inscripción del Jugador:</label>
              <input name="fechaInscripcion" type="date" ng-model="vm.jugador.fechaInscripcion" id="fechaInscripcion" class="form-control"
                placeholder="Fecha Nacimiento" disabled></input>
              <div ng-messages="vm.form.jugadorForm.fechaInscripcion.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba la Fecha de Inscripción del jugador.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="nacionalidad">Nivel de Estudios:</label>
              <select name="nivelEstudios" type="text" ng-model="vm.jugador.nivelEstudios" id="nivelEstudios" class="form-control" placeholder="Nivel de Estudios"
                autofocus disabled>
                <option value="Preescolar">Preescolar</option>
                <option value="Primaria">Primaria concluída</option>
                <option value="Noveno">Noveno año concluído</option>
                <option value="Noveno">Bachillerato concluído</option>
                <option value="Noveno">Grado Universitario</option>
              </select>
              <div ng-messages="vm.form.jugadorForm.nivelEstudios.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Escriba el nivel de estudios del jugador.</p>
              </div>
            </div>


            <div class="checkbox">
              <label class="control-label" for="nacionalidad">
                <input name="poliza" type="checkbox" ng-model="vm.jugador.poliza" id="poliza" disabled>
                <div ng-messages="vm.form.jugadorForm.poliza.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">¿El jugador tiene póliza?</p>
                </div>
                El jugador cuenta con póliza.</label>
            </div>
          </div>
        </div>

        <div id="Familiar" class="tab-pane fade">
          <div class="box-body">
            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Nombre del Padre de Familia:</label>
              <input name="nombrePadre" type="text" ng-model="vm.jugador.nombrePadre" id="nombrePadre" class="form-control" placeholder="Nombre del Padre de Familia"
                autofocus disabled></input>
              <div ng-messages="vm.form.jugadorForm.nombrePadre.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Nombre del Padre de Familia.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Nombre de la Madre de Familia:</label>
              <input name="nombreMadre" type="text" ng-model="vm.jugador.nombreMadre" id="nombreMadre" class="form-control" placeholder="Nombre de la Madre de Familia"
                autofocus disabled></input>
              <div ng-messages="vm.form.jugadorForm.nombreMadre.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Nombre de la Madre de Familia.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Cantidad de Hermanos:</label>
              <input name="cantHermanos" type="number" ng-model="vm.jugador.cantHermanos" id="cantHermanos" class="form-control" placeholder="Cantidad de Hermanos"
                disabled></input>
              <div ng-messages="vm.form.jugadorForm.cantHermanos.$error" role="alert" disabled>
                <p class="help-block error-text" ng-message="required">Agregue una cantidad válida.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Teléfono del Padre:</label>
              <input name="telefonoPadre" type="number" ng-model="vm.jugador.telefonoPadre" id="telefonoPadre" class="form-control" placeholder="Teléfono del Padre"
                disabled></input>
              <div ng-messages="vm.form.jugadorForm.telefonoPadre.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Teléfono del Padre.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Teléfono de la Madre:</label>
              <input name="telefonoMadre" type="number" ng-model="vm.jugador.telefonoMadre" id="telefonoMadre" class="form-control" placeholder="Teléfono de la Madre"
                disabled></input>
              <div ng-messages="vm.form.jugadorForm.telefonoMadre.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Teléfono de la Madre.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Ocupación del Padre:</label>
              <input name="ocupacionPadre" type="text" ng-model="vm.jugador.ocupacionPadre" id="ocupacionPadre" class="form-control" placeholder="Ocupación del Padre"
                autofocus disabled></input>
              <div ng-messages="vm.form.jugadorForm.ocupacionPadre.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Teléfono del Padre.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Ocupación de la Madre:</label>
              <input name="ocupacionMadre" type="text" ng-model="vm.jugador.ocupacionMadre" id="ocupacionMadre" class="form-control" placeholder="Ocupación de la Madre"
                autofocus disabled></input>
              <div ng-messages="vm.form.jugadorForm.ocupacionMadre.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Teléfono de la Madre.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label class="control-label" for="direccion">Cantidad de Personas que conviven en el hogar:</label>
              <input name="cantHermanos" type="number" ng-model="vm.jugador.cantHermanos" id="cantHermanos" class="form-control" placeholder="Cantidad de Personas que conviven"
                disabled></input>
              <div ng-messages="vm.form.jugadorForm.cantHermanos.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Agregue una cantidad válida.</p>
              </div>
            </div>

          </div>
        </div>

        <div class='box-footer'>

        </div>
      </div>
    </div>
  </section>



</section>