<section>
  <p> Kenneth </p>
  <div class="page-header">
    <h1>{{vm.equipo._id ? 'Editar Equipo' : 'Nuevo Equipo'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.equipo._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.equipoForm" class="form-horizontal" ng-submit="vm.save(vm.form.equipoForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="nombre">Nombre del Equipo</label>
          <input name="Nombre" type="text" ng-model="vm.equipo.Nombre" id="nombre" class="form-control" placeholder="Nombre del Equipo" required autofocus>
          <div ng-messages="vm.form.equipoForm.nombre.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Es necesario el nombre del Equipo.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
            <label class="control-label" for="responsable">Categoría:</label>
            <select name="categoria" id="categoria"
            ng-options="categoria as categoria.nombre for categoria in vm.categorias"  ng-model="vm.equipo.categoria"></select>
          </div>

        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.equipo.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.equipo._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
