﻿<section>
  <div class="page-header">
    <h1>
      Equipos
      <a class="btn btn-primary pull-right" data-ui-sref="admin.equipos.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="equipo in vm.equipos" data-ui-sref="admin.equipos.edit({equipoId: equipo._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="equipo.created | date:'mediumDate'"></span>
        by
        <span ng-if="equipo.user" ng-bind="equipo.user.displayName"></span>
        <span ng-if="!equipo.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="equipo.title"></h4>
      <p class="list-group-item-text" data-ng-bind="equipo.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.equipos.$resolved && !equipos.length">
    No equipos yet, why don't you <a data-ui-sref="admin.equipos.create">create one</a>?
  </div>
</section>
