<div class="page-header">
  <h1>Error en la solicitud</h1>
</div>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <span ng-if="vm.errorMessage" ng-bind="vm.errorMessage"></span>
  <span ng-if="!vm.errorMessage">La solicitud no es válida</span>
</div>
