<div class="page-header">
  <h1>Acceso Restringido</h1>
</div>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  No tiene los permisos adecuados para acceder a este recurso
</div>
