<div class="page-header">
  <h1>Página no encontrada</h1>
</div>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span ng-if="vm.errorMessage" ng-bind="vm.errorMessage"></span>
  <span ng-if="!vm.errorMessage">La página no ha sido encontrada.</span>
</div>
