<header class="main-header" ng-controller="HeaderController as vm">
  <a ui-sref="home" class="logo"><b>Escuela de Fútbol</b></a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation" ng-show="vm.authentication.user">
    <!-- Sidebar toggle button-->

	  <button type="button" class="sidebar-toggle btn" ng-click="vm.hideSideBar()">
      <span class="sr-only">Navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </button>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- Notifications: style can be found in dropdown.less -->
        <!-- <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <!--inner menu: contains the actual data -->
              <!-- <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li> -->

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user-circle"></i>
          <span class="hidden-xs">{{vm.authentication.user.displayName}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="img-circle" />
            </li>
            <!-- Menu Body -->
            <li class="user-body" ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
              <a class="col-xs-4 text-center" ui-sref="{{item.state}}" ng-bind="item.title"></a>
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <a href="/api/auth/signout" class="btn btn-default btn-flat">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-static-top" role="navigation" ng-hide="vm.authentication.user">
    <!-- Sidebar toggle button-->
    <a  class="sidebar-toggle" data-toggle="offcanvas" data-target="#sidebarPrincipal" role="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a ui-sref="authentication.signin" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user-circle"></i>
          </a>
        </li>
  </nav>



</header>
<!-- =============================================== -->

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" ng-controller="HeaderController as vm">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
      <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="img-circle" />
      </div>
      <div class="pull-left info">
        <p>{{vm.authentication.user.displayName}}</p>
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" ng-if="vm.menu.shouldRender(vm.authentication.user);" >
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview" ng-repeat="item in vm.menu.items | orderBy: 'title'">
        <a href="#">
          <i class="fa fa-circle" aria-hidden="true"></i> <span>{{::item.title}}&nbsp;</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
            <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
          </li>
        </ul>
      </li>

  </section>
  <script> setTimeout(function () {
    $.AdminLTE.tree('.sidebar');
  }, 500); </script>
  <!-- /.sidebar -->
</aside>
