<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center"
          src="/modules/core/client/img/brand/logo.jpg" />
      </div>
    </div>
    <br>
  </div>
</section>
