<section>
  <section class="content-header">
          <h1>
            Información del usuario:
            <small><span ng-bind="vm.user.username"></span></small>
          </h1>
  </section>
  <div class="col-md-6">
  <div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">Detalle: </h1>
  </div>
  <div class="box-body">
    <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
      <div class="box-body">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">Nombre</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="Nombre" required autofocus />
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Campo olbligatorio.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Apellidos</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name" required />
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Campo obligatorio.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="roles">Roles</label>
          <div class="controls">
            <input class="form-control" type="text" name="roles" ng-model="vm.user.roles" id="roles" ng-list required />
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Debe incluir el rol del usuario</p>
            </div>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El correo electrónico es obligatorio.</p>
            <p class="help-block error-text" ng-message="email">Debe agregar un correo electrónico válido.</p>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" value="Actualizar" class="btn btn-default">
        </div>
      </fieldset>
        </div>
    </form>
</div>
  </div>
</section>
