<section>
    <section class=" content-header">
      <h1> Lista de Usuarios </h1>
      <input class="form-control col-md-4 " type="text" ng-model="vm.search" placeholder="Buscar" ng-change="vm.figureOutItemsToDisplay()" />
    </section>
  <section class="content">
    <div class="row">
      <div class="col-md-10">
        <div class="box box-primary">

          <div class="list-group">
            <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
              <div class="box-header" > <h3><span ng-bind="user.firstName"></span> <span ng-bind="user.lastName"></span></h3> </div>
              <div class="box-body">
              <label ng-bind="user.username"></label>
              <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
              <p class="help-block" ng-bind="user.email"></p>

            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <uib-pagination  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
    boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
</section>
