<section>
      <section class=" content-header">
          <h1 ng-bind="vm.user.firstName"></h1>
          <div class="col-md-4">

            <a class="btn btn-primary" ng-click="vm.remove()" ng-if="!vm.isContextUserSelf()">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </div>
        </section>
    <section class="content">
      <div class="row">
        <div class="col-md-10">
          <div class="box box-primary">


  <div class="box-body">
      <div class="row">
        <div class="col-md-3"><strong>Nombre</strong></div>
        <div class="col-md-6" ng-bind="vm.user.firstName"></div>
      </div>

      <div class="row">
        <div class="col-md-3"><strong>Apellidos</strong></div>
        <div class="col-md-6" ng-bind="vm.user.lastName"></div>
      </div>

      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="vm.user.email"></div>
      </div>

      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="vm.user.provider"></div>
      </div>

      <div class="row">
        <div class="col-md-3"><strong>Fecha de Creación</strong></div>
        <div class="col-md-6" ng-bind="vm.user.created"></div>
      </div>

      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="vm.user.roles"></div>
      </div>
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-primary" ui-sref="admin.user-edit({userId: vm.user._id})">Editar</button>
  </div>
  </div>
  </div>
  </div>
</section>
