<section>
  <div class="page-header">
    <h1>Categorias</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="categoria in vm.categorias" ui-sref="categorias.view({ categoriaId: categoria._id })" class="list-group-item">
      <small class="list-group-item-text">
        Creado el
        <span ng-bind="categoria.created | date:'mediumDate'"></span>
        por
        <span ng-if="categoria.user" ng-bind="categoria.user.displayName"></span>
        <span ng-if="!categoria.user">Usuario Borrado</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="categoria.Nombre"></h4>
      <p class="list-group-item-text" ng-bind="categoria.descripcion"></p>
    </a>
  </div>
</section>
