<section>
  <p class="lead" ng-bind="vm.categoria.content"></p>
</section>
<section>
  <div class="page-header">
    <h1 ng-bind="vm.categoria.nombre"></h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.categoria.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.categoria.user" ng-bind="vm.categoria.user.displayName"></span>
      <span ng-if="!vm.categoria.user">Deleted User</span>
    </em>
  </small>
  <div class="col-md-12 box">

    <div class="box-body">
      <form name="vm.form.categoriaForm" class="form-horizontal" ng-submit="vm.save(vm.form.categoriaForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="title">Nombre</label>
            <input name="nombre" type="text" ng-model="vm.categoria.nombre" id="nombre" class="form-control" placeholder="Nombre" required
              autofocus disabled>
            <div ng-messages="vm.form.categoriaForm.nombre.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Se requiere el nombre de la categoría.</p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="content">Descripción</label>
            <textarea name="descripcion" data-ng-model="vm.categoria.descripcion" id="content" class="form-control" cols="30" rows="3"
              placeholder="Descripción" disabled></textarea>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="responsable">Responsable:</label>
            <select name="Responsable" id="responsable" ng-options="user.displayName for user in vm.users track by user.id" ng-model="vm.users"
              disabled></select>
          </div>

          <div class="form-group col-md-4" show-errors>
            <label class="control-label" for="title">Fecha de Nacimiento Máxima:</label>
            <input name="fechaNacimientoMax" type="date" ng-model="vm.categoria.fechaNacimientoMax" id="nombre" class="form-control"
              placeholder="Fecha de Nacimiento Máxima:" required autofocus disabled>
            <div ng-messages="vm.form.categoriaForm.fechaNacimientoMax.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Se requiere el nombre de la categoría.</p>
            </div>
          </div>

          <div class="col-md-2"></div>

          <div class="form-group col-md-4" show-errors>
            <label class="control-label" for="title">Fecha de Nacimiento Mínima:</label>
            <input name="fechaNacimientoMin" type="date" ng-model="vm.categoria.fechaNacimientoMin" id="nombre" class="form-control"
              placeholder="Fecha de Nacimiento Mínima:" required autofocus disabled>
            <div ng-messages="vm.form.categoriaForm.fechaNacimientoMin.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Se requiere el nombre de la categoría.</p>
            </div>
          </div>

          <div class='box-footer col-md-12'>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>