<section>
  <div class="page-header">
    <h1>{{vm.jugador._id ? 'Editar Jugador' : 'Nuevo Jugador'}}</h1>
  </div>

  <section class='col-md-6  connectedSortable ui-sortable'>
    <div class='nav-tabs-custom' style="cursor:move;">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#Personal">Personal</a>
        </li>
        <li>
          <a data-toggle="tab" href="#Deportiva">Deportiva</a>
        </li>
        <li>
          <a data-toggle="tab" href="#Administrativa">Administrativa</a>
        </li>
        <li>
          <a data-toggle="tab" href="#Familiar">Familiar</a>
        </li>
      </ul>
      <!-- Tab content -->

      <form role='form' name="vm.form.jugadorForm" class=".form-horizontal" ng-submit="vm.save(vm.form.jugadorForm.$valid)" novalidate>
        <fieldset>
          <div class=" tab-content no-padding">
            <div id="Personal" class="tab-pane fade in active">
              <div class="box-body">
                <div class="form-group" show-errors>
                  <label class="control-label" for="nombre">Nombre del Jugador:</label>
                  <input name="nombre" type="text" ng-model="vm.jugador.nombre" id="nombre" class="form-control" placeholder="Nombre" required
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.nombre.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba el nombre del jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="apellidos">Apellidos del Jugador:</label>
                  <input name="apellidos" type="text" ng-model="vm.jugador.apellidos" id="apellidos" class="form-control" placeholder="Apellidos"
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.apellidos.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba los apellidos del jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Categoría:</label>
                    <select name="categoria" type="text" ng-model="vm.jugador.categoria" id="categoria" class="form-control" placeholder="Categoria"
                    autofocus>
                    <option ng-repeat="cat in vm.categorias" ng-value="cat.nombre">{{cat.nombre}}</option>
                  </select>
                  <div ng-messages="vm.form.jugadorForm.categoria.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba una categoría correcta del jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Fecha de Nacimiento del Jugador:</label>
                  <div ng-messages="vm.form.jugadorForm.categoria.$error" role="alert">
                    <input name="fechaNacimiento" type="date" ng-model="vm.jugador.fechaNacimiento" id="fechaNacimiento" class="form-control"
                      placeholder="Fecha Nacimiento" >
                    <div ng-messages="vm.form.jugadorForm.fechaNacimiento.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Escriba la Fecha de Nacimiento del jugador.</p>
                    </div>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Dirección del Jugador:</label>
                  <input name="direccion" type="text" ng-model="vm.jugador.direccion" id="direccion" class="form-control" placeholder="Direccion"
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.apellidos.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba la dirección del jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="nacionalidad">Nacionalidad del Jugador:</label>
                  <select name="nacionalidad" type="text" ng-model="vm.jugador.nacionalidad" id="nacionalidad" class="form-control" placeholder="Nacionalidad"
                    autofocus>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Estados Unidos">Estados Unidos</option>
                    <option value="Otro">Otro</option>
                  </select>
                  <div ng-messages="vm.form.jugadorForm.nacionalidad.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba la nacionalidad del jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="telefono">Teléfono del Jugador:</label>
                  <input name="telefono" type="number" ng-model="vm.jugador.telefono" id="telefono" class="form-control" placeholder="Teléfono"
                    >
                  <div ng-messages="vm.form.jugadorForm.telefono.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba la teléfono del jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Email del Jugador:</label>
                  <input name="email" type="text" ng-model="vm.jugador.email" id="email" class="form-control" placeholder="Correo Electrónico"
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.telefono.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba la email del jugador.</p>
                  </div>
                </div>
              </div>
            </div>
            <div id="Deportiva" class="tab-pane fade">
              <div class="box-body">
                <div class="form-group" show-errors>
                  <label for="numeroCamiseta">Número de Camiseta del Jugador:</label>
                  <input name="numeroCamiseta" type="text" ng-model="vm.jugador.numeroCamiseta" id="numeroCamiseta" class="form-control" placeholder="Número de Camiseta"
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.numeroCamiseta.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba el número de camiseta del Jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="perfil">Perfil del Jugador:</label>
                  <select name="perfil" type="text" ng-model="vm.jugador.perfil" id="perfil" class="form-control" placeholder="Perfil del Jugador"
                    autofocus>
                    <option value="Derecho">Derecho</option>
                    <option value="Izquierdo">Izquierdo</option>
                    <option value="Ambidiestro">Ambidiestro</option>
                  </select>
                  <div ng-messages="vm.form.jugadorForm.perfil.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba el perfil del Jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="posicionJugador">Posición del Jugador:</label>
                  <select name="posicionJugador" type="text" ng-model="vm.jugador.posicionJugador" id="posicionJugador" class="form-control"
                    placeholder="Posición del Jugador" autofocus>
                    <option value="Defensa">Defensa</option>
                    <option value="Delantero">Delantero</option>
                    <option value="Mediocampista">Mediocampista</option>
                  </select>
                  <div ng-messages="vm.form.jugadorForm.posicionJugador.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba la posición del Jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="peso">Peso del Jugador:</label>
                  <input name="peso" type="number" ng-model="vm.jugador.peso" id="peso" class="form-control" placeholder="Peso del Jugador"
                    >
                  <div ng-messages="vm.form.jugadorForm.peso.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba el peso del Jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="altura">Altura del Jugador:</label>
                  <input name="altura" type="number" ng-model="vm.jugador.altura" id="altura" class="form-control" placeholder="Altura del Jugador"
                    >
                  <div ng-messages="vm.form.jugadorForm.altura.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba la posición del Jugador.</p>
                  </div>
                </div>
              </div>
            </div>

            <div id="Administrativa" class="tab-pane fade">
              <div class="box-body">
                <div class="form-group" show-errors>
                  <label for="idInterno">ID Interno:</label>
                  <input name="idInterno" type="number" ng-model="vm.jugador.ID" id="idInterno" class="form-control" placeholder="ID Interno"
                    >
                  <div ng-messages="vm.form.jugadorForm.ID.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Número Interno.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="peso">Dirección del Jugador:</label>
                  <input name="direccion" type="text" ng-model="vm.jugador.direccion" id="direccion" class="form-control" placeholder="Dirección de habitación"
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.direccion.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba la dirección de habitación del Jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Fecha de Inscripción del Jugador:</label>
                  <input name="fechaInscripcion" type="date" ng-model="vm.jugador.fechaInscripcion" id="fechaInscripcion" class="form-control"
                    placeholder="Fecha Nacimiento" >
                  <div ng-messages="vm.form.jugadorForm.fechaInscripcion.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba la Fecha de Inscripción del jugador.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="nacionalidad">Nivel de Estudios:</label>
                  <select name="nivelEstudios" ng-repeat="user in users" type="text" ng-model="vm.jugador.nivelEstudios" id="nivelEstudios" class="form-control" placeholder="Nivel de Estudios"
                    autofocus>
                    <option value="Preescolar">Preescolar</option>
                    <option value="Primaria">Primaria</option>
                    <option value="Secundaria">Secundaria</option>
                    <option value="Universidad">Universidad</option>
                  </select>
                  <div ng-messages="vm.form.jugadorForm.nivelEstudios.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Escriba el nivel de estudios del jugador.</p>
                  </div>
                </div>


                <div class="checkbox">
                  <label class="control-label" for="nacionalidad">
                    <input name="poliza" type="checkbox" ng-model="vm.jugador.poliza" id="poliza" >
                    <div ng-messages="vm.form.jugadorForm.poliza.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">¿El jugador tiene póliza?</p>
                    </div>
                    El jugador cuenta con póliza.</label>
                </div>
              </div>
            </div>

            <div id="Familiar" class="tab-pane fade">
              <div class="box-body">
                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Nombre del Padre de Familia:</label>
                  <input name="nombrePadre" type="text" ng-model="vm.jugador.nombrePadre" id="nombrePadre" class="form-control" placeholder="Nombre del Padre de Familia"
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.nombrePadre.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Nombre del Padre de Familia.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Nombre de la Madre de Familia:</label>
                  <input name="nombreMadre" type="text" ng-model="vm.jugador.nombreMadre" id="nombreMadre" class="form-control" placeholder="Nombre de la Madre de Familia"
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.nombreMadre.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Nombre de la Madre de Familia.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Cantidad de Hermanos:</label>
                  <input name="cantHermanos" type="number" ng-model="vm.jugador.cantHermanos" id="cantHermanos" class="form-control" placeholder="Cantidad de Hermanos"
                    >
                  <div ng-messages="vm.form.jugadorForm.cantHermanos.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Agregue una cantidad válida.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Teléfono del Padre:</label>
                  <input name="telefonoPadre" type="number" ng-model="vm.jugador.telefonoPadre" id="telefonoPadre" class="form-control" placeholder="Teléfono del Padre"
                    >
                  <div ng-messages="vm.form.jugadorForm.telefonoPadre.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Teléfono del Padre.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Teléfono de la Madre:</label>
                  <input name="telefonoMadre" type="number" ng-model="vm.jugador.telefonoMadre" id="telefonoMadre" class="form-control" placeholder="Teléfono de la Madre"
                    >
                  <div ng-messages="vm.form.jugadorForm.telefonoMadre.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Teléfono de la Madre.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Ocupación del Padre:</label>
                  <input name="ocupacionPadre" type="text" ng-model="vm.jugador.ocupacionPadre" id="ocupacionPadre" class="form-control" placeholder="Ocupación del Padre"
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.ocupacionPadre.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Teléfono del Padre.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Ocupación de la Madre:</label>
                  <input name="ocupacionMadre" type="text" ng-model="vm.jugador.ocupacionMadre" id="ocupacionMadre" class="form-control" placeholder="Ocupación de la Madre"
                    autofocus>
                  <div ng-messages="vm.form.jugadorForm.ocupacionMadre.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Teléfono de la Madre.</p>
                  </div>
                </div>

                <div class="form-group" show-errors>
                  <label class="control-label" for="direccion">Cantidad de Personas que conviven en el hogar:</label>
                  <input name="cantHermanos" type="number" ng-model="vm.jugador.cantHermanos" id="cantHermanos" class="form-control" placeholder="Cantidad de Hermanos"
                    >
                  <div ng-messages="vm.form.jugadorForm.cantHermanos.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Agregue una cantidad válida.</p>
                  </div>
                </div>

              </div>
            </div>

            <div class='box-footer'>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">{{vm.jugador._id ? 'Actualizar' : 'Guardar'}}</button>
                <div class="pull-right">
                    <a ng-show="vm.jugador._id" class="btn btn-primary" ng-click="vm.remove()">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </section>
</section>