﻿<section>
  <div class="page-header">
    <h1>
      Jugadores
      <a class="btn btn-primary pull-right" data-ui-sref="admin.jugadores.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>

  <div class="row" style="padding-bottom: 5px;">
      <div class="col-md-3 col-offset-3">
      <label class="control-label" for="direccion">Categoría:</label>
      <select name="categoria" type="text" ng-model="vm.cat"
        id="categoria" class="form-control" placeholder="Categoria"
        autofocus>
        <option ng-repeat="cat in vm.categorias" ng-value="cat.nombre">{{cat.nombre}}</option>
      </select> 
    </div>
  </div>


  <div class="col-md-10 list-group">
      <div data-ng-repeat="jugador in vm.jugadores">
          <a ng-if="jugador.categoria === vm.cat" data-ui-sref="admin.jugadores.edit({jugadorId: jugador._id})" class="list-group-item">
      <small class="list-group-item-text">
        Creado:
        <span data-ng-bind="jugador.created | date:'mediumDate'"></span>
        por
        <span ng-if="jugador.user" ng-bind="jugador.user.displayName"></span>
        <span ng-if="!jugador.user">Usuario Eliminado</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="jugador.nombre"></h4>
      <p class="list-group-item-text" data-ng-bind="jugador.apellidos"></p>
    </a>
  </div>
</section>