<div>
  <h3 class="col-xs-12 text-center">Introduce los datos:</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
            <span ng-bind="vm.error"></span>
          </uib-alert>
          <label for="usernameOrEmail">Nopmbre de Usuario</label>
          <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail" placeholder="Nombre de usuario o correo electrónico" required autofocus>
          <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre de usuario o el correo es necesario.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Contraseña" required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">La contraseña es requerida.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Abrir sesión</button>
          &nbsp; o&nbsp;
          <a ui-sref="authentication.signup">Crear cuenta</a>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Recuperar la contraseña...</a>
        </div>
        <br />
      </fieldset>
    </form>
  </div>
</div>
