<section>
  <div class="page-header">
    <h1>{{vm.categoria._id ? 'Editar Categoría' : 'Nueva Categoría'}}</h1>
  </div>

  <div class="col-md-12 box">

    <div class="box-body">
      <form name="vm.form.categoriaForm" class="form-horizontal" ng-submit="vm.save(vm.form.categoriaForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="title">Nombre</label>
            <input name="nombre" type="text" ng-model="vm.categoria.nombre" id="nombre" class="form-control" placeholder="Nombre" required
              autofocus>
            <div ng-messages="vm.form.categoriaForm.nombre.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Se requiere el nombre de la categoría.</p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="content">Descripción</label>
            <textarea name="descripcion" data-ng-model="vm.categoria.descripcion" id="content" class="form-control" cols="30" rows="3"
              placeholder="Content"></textarea>
          </div>

          <div class="form-group" show-errors>
              <label class="control-label" for="responsable">Responsable:</label>
              <select name="Responsable" id="responsable"
              ng-options="user.displayName for user in vm.users track by user.id"  ng-model="vm.categoria.responsable"></select>
            </div>

          <div class="form-group col-md-4" show-errors>
              <label class="control-label" for="title">Fecha de Nacimiento Máxima:</label>
              <input name="fechaNacimientoMax" type="date" ng-model="vm.categoria.fechaNacimientoMax" 
               id="nombre" class="form-control" placeholder="Fecha de Nacimiento Máxima:" required>
              <div ng-messages="vm.form.categoriaForm.fechaNacimientoMax.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Se requiere el nombre de la categoría.</p>
              </div>
            </div>

          <div class="col-md-2"></div>

          <div class="form-group col-md-4" show-errors>
              <label class="control-label" for="prueba">Fecha de Nacimiento Mínima:</label>
              <input name="fechaNacimientoMin" type="date" ng-model="vm.categoria.fechaNacimientoMin" 
              id="fechaNacimientoMin" class="form-control" placeholder="Fecha de Nacimiento Mínima:" required>
              <div ng-messages="vm.form.categoriaForm.prueba.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Se requiere el nombre de la categoría.</p>
              </div>
            </div>

            <p>{{vm.categoria.fechaNacimientoMin  | date:'yyyy-dd-MM'}}</p>

            <div class='box-footer col-md-12'>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-default">{{vm.categoria._id ? 'Actualizar' : 'Crear'}}</button>
                  </div>
                  <div class="col-md-6 pull-right ">
                      <a ng-show="vm.categoria._id" class="btn btn-primary" ng-click="vm.remove()">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                    </div>
              </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>