﻿<section>
  <div class="page-header">
    <h1>
      Categorias
      <a class="btn btn-primary pull-right" data-ui-sref="admin.categorias.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="categoria in vm.categorias" data-ui-sref="admin.categorias.edit({categoriaId: categoria._id})" class="list-group-item">
      <small class="list-group-item-text">
        Creado el
        <span data-ng-bind="categoria.created | date:'mediumDate'"></span>
        por
        <span ng-if="categoria.user" ng-bind="categoria.user.displayName"></span>
        <span ng-if="!categoria.user">Usuario Eliminado</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="categoria.nombre"></h4>
      <p class="list-group-item-text" data-ng-bind="categoria.descripcion"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.categorias.$resolved && !categorias.length">
    No categorias yet, why don't you <a data-ui-sref="admin.categorias.create">create one</a>?
  </div>
</section>
